body {
    font-family: 'Oswald', sans-serif;
    background: rgba(85, 79, 79, 0.4);
    background-image: repeating-linear-gradient(-20deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 10px, transparent 0, transparent 20px);
    color: rgb(20, 20, 20);

}

.header {
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.containerBox {
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    box-shadow: 0 0 3px inset gray;
    background-image: repeating-linear-gradient(20deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 10px, transparent 0, transparent 20px);
    pointer-events: all;
    border-radius: 5%/2%;

}

@media (max-width: 600px) {
    .containerBox {
        flex-direction: row;
        align-items: center;
        min-height: 10vh;

    }
}

.backlog {
    background-color: rgba(203, 94, 61, 0.6)
}

.todo {
    background-color: rgba(24, 110, 118, 0.6)
}

.processing {
    background-color: rgba(79, 60, 135, 0.6)
}

.checking {
    background-color: rgba(136, 204, 63, 0.6)
}


.backlog .box {
    background-color: #E64A19;
}

.todo .box {
    background-color: #00838f;

}

.processing .box {
    background-color: #4527a0;

}

.checking .box {
    background-color: #83e619;

}

.containerTitle {
    text-align: center;
    text-transform: uppercase;
    background-color: inherit;
}

.box {
    border-color: inherit;
    min-height: 100px;
    min-width: 50px;
    margin: 10px;
    background-image: repeating-linear-gradient(20deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 10px, transparent 0, transparent 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
    cursor: grab;
    position: relative;
    word-break: break-all;
    text-align: center;

}

.removeTask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: inherit;
    border-radius: 50%;
    border: none;
    height: 1.5vmax;
    width: 1.5vmax;
    background-image: url('../img/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.addTask {
    background-image: url('../img/x.svg');
    height: 3vmax;
    width: 3vmax;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    transform: rotate(45deg);
    position: absolute;
    top: 5%;
    left: 5%;
    outline: none
}

.removeTask:hover,
.addTask:hover {
    background-color: red;
}

.taskForm {
    display: block;
    margin: 15px;
    text-align: center;
}



.taskInput {
    border: 1px solid gray;
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
    font-family: inherit;
    margin: 5px 10px;
    font-size: 1.5vmax;
}

.taskInput:focus {
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;

}

.selectInput {
    font-family: 'Oswald', sans-serif;
    margin: 5px 10px;
    font-size: 1.5vmax;

}

.submitForm {
    font-family: 'Oswald', sans-serif;
    margin: 5px 10px;
    font-size: 1.5vmax;
    background-color: transparent;
    border: 1px solid gray;
    cursor: pointer;

}


.boxAnimation-enter {
    opacity: 0.01;
}

.boxAnimation-enter.boxAnimation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;

}

.boxAnimation-leave {
    opacity: 1;
}

.boxAnimation-leave.boxAnimation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}